<div class="container-fluid flex-fill d-flex flex-column mb-2">
  <div class="row flex-fill bg-white border">
    <div *ngFor="let status of statuses" class="col d-flex flex-column border">
      <div class="row border-bottom border-2 text-center bg-light">
        <h6 class="text-dark fw-bold mb-0 p-2">{{ status }}</h6>
      </div>
      <div class="row d-block flex-fill p-2">
        <button class="btn border text-start mb-2">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis
          facilis accusantium ratione maxime fugit doloribus dignissimos, ex,
          temporibus vel obcaecati assumenda unde sapiente nisi mollitia alias
          modi sit ea dolores eius neque inventore enim esse. Cum, vel. Minima
          doloribus ea beatae, dignissimos debitis fuga veritatis! Similique
          tempore iusto commodi qui!
        </button>
        <button class="btn border text-start">
          Lorem ipsum dolor sit amet.
        </button>
      </div>
    </div>
  </div>
</div>
