<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/todos"
            >Todos</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/groups">Groups</a>
        </li>
      </ul>

      <ul class="justify-content-end navbar-nav mb-2 mb-sm-0">
        <li class="nav-item me-2">
          <a
            class="btn btn-outline-secondary text-uppercase fw-bold"
            type="button"
            routerLink="/login"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-success text-uppercase fw-bold"
            type="button"
            routerLink="/sign-up"
          >
            Sign up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
