<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item me-2" ngbDropdown>
          <button
            type="button"
            class="btn btn-dark"
            id="groupsDropdown"
            ngbDropdownToggle
            *ngIf="isAuthenticated"
          >
            Groups
          </button>
          <div ngbDropdownMenu aria-labelledby="groupsDropdown">
            <a
              class="test"
              ngbDropdownItem
              *ngFor="let group of groups"
              [routerLink]="['/group/' + group.groupId]"
              routerLinkActive="custom-active"
            >
              {{ group.name }}
            </a>
            <hr />
            <a class="d-block text-center">
              <button class="btn btn-success">Create group</button>
            </a>
          </div>
        </li>
      </ul>

      <ul class="justify-content-end navbar-nav mb-2 mb-sm-0">
        <li class="nav-item me-2">
          <a
            class="btn btn-danger text-uppercase fw-bold"
            type="button"
            (click)="onLogout()"
            *ngIf="isAuthenticated"
          >
            Logout
          </a>
        </li>
        <li class="nav-item me-2">
          <a
            class="btn btn-outline-light text-uppercase fw-bold"
            type="button"
            routerLink="/login"
            *ngIf="!isAuthenticated"
          >
            Login
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-success text-uppercase fw-bold"
            type="button"
            routerLink="/sign-up"
            *ngIf="!isAuthenticated"
          >
            Sign up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
