<div class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand">{{ group.name }}</a>
  </div>
</div>
<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item me-4" *ngFor="let group of groups">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/group', group.groupId]"
            >{{ group.name }}</a
          >
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLinkActive="active" routerLink="/group"
            >Add new group</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="list-group" *ngFor="let todo of todos">
        <a class="list-group-item list-group-item-action" aria-current="true">
          <h5 class="mb-1">{{ todo.title }}</h5>
          <p class="mb-1">{{ todo.description }}</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <button class="btn btn-success">Add todo</button>
    </div>
  </div>
</div>

 -->
